<div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Уроки</h6>
                                <p><strong>Математика, вторник 10:00, 215 кабинет</strong></p>
                                <hr>
                                <p><strong>Физика, вторник 16:20, 216 кабинет</strong></p>
                                <hr>
                                <p><strong>Физра, среда 9:00, 319 кабинет</strong></p>
                                <hr>
                                <p><strong>Химия, среда 12:00, 418 кабинет</strong></p>
                                <hr>
                                <p><strong>Русский язык, среда 14:00, 315 кабинет</strong></p>
                                <hr>
                                <p><strong>Биология, четверг 13:00, 412 кабинет</strong></p>
                                <hr>
                            </div>
                        </div>
                    </div>

                </div>
